JVD/Task04/Data/data.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="touristVouchers">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="vouchers">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TravelPackages" >
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element  name="type" maxOccurs="unbounded">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="day off"/>
                                                    <xs:enumeration value="sightseeing"/>
                                                    <xs:enumeration value="pilgrimage"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element  name="country" maxOccurs="unbounded">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:length value="20"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element  name="numberOfDay" maxOccurs="unbounded">
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                        <xs:minInclusive value="0"/>
                                        <xs:maxInclusive value="5"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                                        <xs:element name="hotelCharacteristic" >
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element  name="numberOfStars">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:integer">
                                                            <xs:minInclusive value="0"/>
                                                            <xs:maxInclusive value="5"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:string" name="feed"/>
                                                    <xs:element type="xs:string" name="other" />
                                                </xs:sequence>
                                                <xs:attribute type="xs:string" name="hotelId" />
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:decimal" name="price"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="id" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>